<!--cart section-->
<section class="ftco-section ftco-cart">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ftco-animate">
                <div class="cart-list">
                    <table class="table">
                        <thead class="thead-primary">
                            <tr class="text-center">
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center">
                                <td class="product-remove"><a href="#"><i class="fas fa-trash"
                                            style="color:#FF4646; font-size: 30px;"></i></a>
                                </td>

                                <td class="image-prod"><img src="assets/img/breakfast-3.jpg"></td>

                                <td class="product-name">
                                    <h3>Creamy Latte Coffee</h3>
                                    <p>Far far away, behind the word mountains, far from the countries</p>
                                </td>

                                <td class="price">4.90 DT</td>

                                <td class="quantity">
                                    <div class="input-group mb-3">
                                        <i class="fa fa-minus-circle" ng-click="qty_decr(item)"
                                            style="color:#FF4646; font-size: 30px;"></i>

                                        <input type="text" name="quantity" class="quantity form-control input-number"
                                            style="border-radius: 5px;" value="1" min="1" max="100">
                                        <i class="fa fa-plus-circle" ng-click="qty_incr(item)"
                                            style="color:#68C549; font-size: 30px;"></i>

                                    </div>
                                    <!-- <span id="incr_decr_no" ng-init="item.quantity=1"></span>
                                    <i class="fa fa-times-circle-o" ng-click="removefromcart(product.product_id)"></i>   -->
                                </td>


                                <td class="total">4.90 DT</td>
                            </tr><!-- END TR-->

                            <tr class="text-center">
                                <td class="product-remove"><a href="#"><img
                                            src="https://img.icons8.com/fluent/48/000000/delete-dollar.png" /></a>
                                </td>

                                <td class="image-prod"><img src="assets/img/breakfast-1.jpg"></td>

                                <td class="product-name">
                                    <h3>Grilled Ribs Beef</h3>
                                    <p>Far far away, behind the word mountains, far from the countries</p>
                                </td>

                                <td class="price">15.70 DT</td>

                                <td class="quantity">
                                    <div class="input-group mb-3">
                                        <input type="text" name="quantity" class="quantity form-control input-number"
                                            value="1" min="1" max="100">
                                    </div>
                                </td>

                                <td class="total">15.70 DT</td>
                            </tr><!-- END TR-->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col col-lg-3 col-md-6 mt-5 cart-wrap ftco-animate">
                <div class="cart-total mb-3">
                    <h3>Cart Totals</h3>
                    <p class="d-flex">
                        <span>Subtotal</span>
                        <span>20.60 DT</span>
                    </p>
                    <p class="d-flex">
                        <span>Delivery</span>
                        <span>0.00 DT</span>
                    </p>
                    <p class="d-flex">
                        <span>Discount</span>
                        <span>3.00DT</span>
                    </p>
                    <hr>
                    <p class="d-flex total-price">
                        <span>Total</span>
                        <span>17.60 DT</span>
                    </p>
                </div><br><br>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <p class=""><a [routerLink]="['/']" class="btn btn-primary py-3 px-4">
                            back to basket</a>
                    </p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <p class="text-center"><a [routerLink]="['/checkout']" class="btn btn-primary py-3 px-4">Proceed to
                            Checkout</a>
                    </p>

                </div>
            </div>
        </div>
    </div>

</section>
<!-- End cart section-->