<!-- ======= card Section ======= -->
<section id="why-us" class="why-us">
  <div class="container">

    <div class="section-title">
      <h2>Our <span> dishes</span></h2>
    </div>

    <div class="row">

      <div class="col-lg-4">

        <div class="box">
          <div class="card" style="width: 18rem;">
            <img src="assets/img/breakfast-1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Salmon Supreme</h5>
              <p class="card-text">45DT</p>
              <a href="#" class="buttonColor">Reserve</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mt-4 mt-lg-0">
        <div class="box">

          <div class="card" style="width: 18rem;">
            <img src="assets/img/breakfast-2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Best Salmon Bake</h5>
              <p class="card-text">33DT</p>
              <a href="#" class="buttonColor">Reserve</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mt-4 mt-lg-0">

        <div class="box">
          <div class="card" style="width: 18rem;">
            <img src="assets/img/breakfast-3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Parchment Baked Salmon</h5>
              <p class="card-text">23DT</p>
              <a href="#" class="buttonColor">Reserve</a>
            </div>

          </div>
        </div>
      </div>

    </div>

  </div>
</section><!-- End card Section -->