<app-header-dashboard></app-header-dashboard>

<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-lg-8 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8">
                                <h4 class="card-title"> Main table</h4>
                                <p class="card-description"> Main Table Detail </p>
                            </div>
                            <div class="col-md-4 text-right"> <button id="exporttable"
                                    class="btn btn-primary">Export</button> </div>
                        </div>
                        <div class="table-responsive">
                            <table id="htmltable" class="table">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name Dishes</th>
                                        <th>Quantity</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>0</td>
                                        <td>cake aux chocolat</td>
                                        <td>1</td>
                                        <i  style="cursor: pointer;" class="far fa-trash-alt" ></i>&nbsp;
                                        <i   style="cursor: pointer;" class="far fa-eye"></i>&nbsp;
                                        <i  style="cursor: pointer;" class="fas fa-user-edit"></i>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>