<app-header-dashboard-admin></app-header-dashboard-admin>
<div class=" container move-tab ">
  <h1 class="centerLign">Detail Profile Chef</h1>
  <nav class="navbar">
    <input class="form-control" type="text" name="search" [(ngModel)]="filter">
  </nav>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th (click)="sort('FirstName')"> First Name &nbsp; <i class="fa fa-sort"></i></th>

          <th>Last Name</th>
          <th>Photo</th>
          <th>Specility</th>
          <th>Experience</th>
          <th>Facebook</th>
          <th>Instagram</th>
          <th>twitter</th>
          <th>Linkedin</th>
          <th>Action</th>

        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let user of users |orderBy  : key : reserve| filter:filter |  paginate :{itemsPerPage:5,currentPage:p }; let i = index ">
          <th>{{i}}</th>
          <td>{{user.fName}} </td>
          <td>{{user.lName}}</td>
          <td><img [src]="user.img" width="50px" height="50px"></td>
          <td>{{user.specialityChef}}</td>
          <td>{{user.expChef}}</td>
          <td>{{user.facebook}}</td>
          <td>{{user.instagram}}</td>
          <td>{{user.twitter}}</td>
          <td>{{user.linkedin}}</td>



          <td>
            <i title="Remove the dish" style="cursor: pointer;" (click)='deleteChef(user)'
              class="far fa-trash-alt text-danger pr-1"></i>&nbsp;

            <ng-container *ngIf="user.status && user.status === 'NEW' ">
              <i title="Validate the Profile Chef" (click)="validatorUser(user)" style="cursor: pointer;" class="far fa-check-circle text-success  pr-1
              "></i>&nbsp;
              <i title="Update the Chef" style="cursor: pointer;" routerLink="/update-user/{{user.id}}" class="fas fa-user-edit text-primary  pr-1
              "></i>
            </ng-container>
            <ng-container *ngIf="user.status && user.status === 'NEW' ">
              <i title="Decline & return it back to the Chef" (click)="open(mymodal,user)" style="cursor: pointer;"
                class="far fa-window-close text-danger"></i>&nbsp;
            </ng-container>

          </td>
        </tr>
      </tbody>
      <ng-template #mymodal let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Send Message To Chef</h4>
          <button type="button" class="close buttonColor" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <textarea name="" id="" cols="10" rows="5"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark buttonColor"
            (click)="modal.close('Save click')">Send</button>
        </div>
      </ng-template>

    </table>
    <pagination-controls (pageChange)="p=$event"></pagination-controls>
  </div>
</div>