<!-- ======= Top Bar ======= -->
<section id="topbar" class="d-none d-lg-flex align-items-center fixed-top topbar-transparent">
  <div class="container text-right">
    <i class="icofont-phone"></i> +216 5883283387
    <i class="icofont-clock-time icofont-rotate-180"></i><span class="color">{{dateNow| date:'dd-MM-yyyy HH:mm'}}</span>
    &nbsp;&nbsp;
    <a [routerLink]="['/singup']">SignUp</a>|
    <a [routerLink]="['/login']">Login</a>

  </div>
</section>
<button type="button" class="mobile-nav-toggle d-lg-none" data-bs-target="#header" data-bs-toggle="fixed-top d-flex align-items-center header-transparent" aria-controls="header" aria-expanded="false" aria-label="Toggle navigation">
  <i class="icofont-navigation-menu">
  
   
  </i>

</button>


<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center header-transparent">
  <div class="container d-flex align-items-center">


    <div class="logo mr-auto">
      <h1 class="text-light"><a href="index.html"><span>delicious restaurant<br> book now</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    </div>


    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li class="active"><a routerLink="/">Home</a></li>
        <li><a [routerLink]="['/dish']">Dish</a></li>
        <li><a [routerLink]="['/menu']">Menu</a></li>
        <li><a [routerLink]="['/dish-favoris']" class=" nav-link disabled" aria-disabled="true">Dish Favoris</a></li>
        <li><a [routerLink]="['/chefs']">Chefs</a></li>
        <li><a [routerLink]="['/gallery']">Gallery Restau</a></li>
        <li><a [routerLink]="['/contact']">Contact</a></li>
        <li><a [routerLink]="['/bmi']">Calcul BMI</a></li>
        <li class="nav-item cart"><a [routerLink]="['/cart']" class="nav-link"><img
              src="https://img.icons8.com/fluent/24/000000/buy.png" /></a></li>

        <!-- <li class="book-a-table text-center"><a href="#book-a-table">Book a table</a></li> -->
      </ul>

    </nav><!-- .nav-menu -->

  </div>


</header><!-- End Header -->