<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">
  
        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
  
        <div class="carousel-inner" role="listbox">
  
          <!-- Slide 1 -->
          <div class="carousel-item active" style="background: url(assets/img/slide/slide-1.jpg);">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown"><span>Delicious</span> Restaurant</h2>
                <p class="animate__animated animate__fadeInUp">Such as the consumer wants to do a thing to another. To follow him, and seek his own, there is nothing to follow them; and you may have some options. Debitis at other times so that the pain is disgraceful cowardice. Similarly her pleasure. To be avoided are accusing quo or pain. Less time and the like architect.</p>
                <div>
                  <a [routerLink]="['/singup']" class="btn-menu animate__animated animate__fadeInUp scrollto">Are you a chef?</a>
                  <a [routerLink]="['/singup']" class="btn-book animate__animated animate__fadeInUp scrollto">You are a consumer?</a>
                </div>
              </div>
            </div>
          </div>
  
          <!-- Slide 2 -->
          <div class="carousel-item" style="background: url(assets/img/slide/slide-2.jpg);">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown"><span>Delicious</span> Restaurant</h2>
                <p class="animate__animated animate__fadeInUp">Such as the consumer wants to do a thing to another. To follow him, and seek his own, there is nothing to follow them; and you may have some options. Debitis at other times so that the pain is disgraceful cowardice. Similarly her pleasure. To be avoided are accusing quo or pain. Less time and the like architect.</p>
                <div>
                  <a href="#menu" class="btn-menu animate__animated animate__fadeInUp scrollto">Are you a chef?</a>
                  <a href="#book-a-table" class="btn-book animate__animated animate__fadeInUp scrollto">You are a consumer?</a>
                </div>
              </div>
            </div>
          </div>
  
          <!-- Slide 3 -->
          <div class="carousel-item" style="background: url(assets/img/slide/slide-3.jpg);">
            <div class="carousel-background"><img src="assets/img/slide/slide-3.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown"><span>Delicious</span> Restaurant</h2>
                <p class="animate__animated animate__fadeInUp">Such as the consumer wants to do a thing to another. To follow him, and seek his own, there is nothing to follow them; and you may have some options. Debitis at other times so that the pain is disgraceful cowardice. Similarly her pleasure. To be avoided are accusing quo or pain. Less time and the like architect.</p>
                <div>
                  <a href="#menu" class="btn-menu animate__animated animate__fadeInUp scrollto">Are you a chef?</a>
                  <a href="#book-a-table" class="btn-book animate__animated animate__fadeInUp scrollto">You are a consumer?</a>
                </div>
              </div>
            </div>
          </div>
  
        </div>
  
        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon icofont-simple-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
  
        <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon icofont-simple-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
  
      </div>
    </div>
  </section><!-- End Hero -->
  