<app-header-dashoard-chef></app-header-dashoard-chef>

<h1 class="container">Starters</h1>

<form (ngSubmit)="validate()" #menuForm='ngForm'>
    <div class="container">
        <div class="form-row" *ngFor="let obj of menus; let i=index ">

            <div class="form-group col-md-2">
                <label for="">Name</label>
                <input type="text" name="nameMenu{{i}}" class="form-control" [(ngModel)]="obj.name"
                    [ngModelOptions]="{standalone: true}">
            </div>

            <div class="form-group col-md-2">
                <label for="">Category</label>
                <input type="text" name="category{{i}}" class="form-control" [(ngModel)]="obj.category"
                    [ngModelOptions]="{standalone: true}">
            </div>

            <div class="form-group col-md-2">
                <label for="">Price</label>
                <input type="text" name="price{{i}}" class="form-control" [(ngModel)]="obj.price"
                    [ngModelOptions]="{standalone:true}">
            </div>
            <div class="form-group col-md-4">
                <label for=""> ingredient</label>
                <input type="text" name="ingredient{{i}}" class="form-control" [(ngModel)]="obj.ingredient"
                    [ngModelOptions]="{standalone:true}">
            </div>

            <br>
            <div class="form-group col-md-4" style="top: 31px;">
                <button type="button" (click)='filePicker.click()' name="img{{i}}" class="btn btn-warning">Select
                    File</button>
                <input type="file" #filePicker style="visibility: hidden;" (change)='onImageSelected($event, i)'>
                <img [src]="images[i]" alt="" width="150px" height="150px">
                <br><br><br><br>
            </div>

            <div class="form-group col-md-2" style="top: 30px; right: 70px !important;">
                <span (click)="removeForm(i)" class="btn btn-danger">-</span>

            </div>

        </div>
        <br><br>

        <span (click)="addForm()" class="btn btn-success">+</span>
        <button class="btn btn-primary">Send</button>

    </div>
</form>