<!-- ======= Chefs Section ======= -->
<section id="chefs" class="chefs">
  <div class="container">

    <div class="section-title">
      <h2>Our Proffesional <span>Chefs</span></h2>
      <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae
        autem.</p>
    </div>

    <div class="row">

      <div class="col-lg-4 col-md-6" *ngFor="let users of users">
        <div class="member">
          <div class="pic"><img [src]="users.img" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>{{users.fName}} {{users.lName}}</h4>
            <span>{{users.specialityChef}}</span>
            <div class="social">
              <a href="{{users.twitter}}"><i class="icofont-twitter"></i></a>
              <a href="{{users.facebook}}"><i class="icofont-facebook"></i></a>
              <a href="{{users.instagram}}"><i class="icofont-instagram"></i></a>
              <a href="{{users.linkedin}}"><i class="icofont-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>



    </div>

  </div>
</section><!-- End Chefs Section -->