<div class="container move-tab">
<h1>Table Users</h1>
<nav class="navbar">
    <input class="form-control" type="text" name="search" [(ngModel)]="filter">      
  </nav>
  <div class="table-responsive">
<table  class="table">
    <thead>
        <tr>
          
            <th (click)="sort('FirstName')">FirstName &nbsp; <i class="fa fa-sort"></i></th>
            <th>Last Name</th>
            <th>Adress</th>
            <th>Email</th>
            <th>tel</th>
            <th>Experience</th>
            <th>speciality</th>
            <th>Type User</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users |orderBy  : key : reserve| filter:filter |  paginate :{itemsPerPage:5,currentPage:p };">
            
            <td>{{user.fName}}</td>
            <td>{{user.lName}}</td>
            <td>{{user.adress}}</td>
            <td>{{user.email}}</td>
            <td>{{user.tel}}</td>
            <td>{{user.expChef}}</td>
            <td>{{user.specialityChef}}</td>
            <td>{{user.userType}}</td>
            <td><i class="far fa-trash-alt" ></i>&nbsp;
                <i class="far fa-check-circle"></i>&nbsp;
                <i class="fas fa-user-edit"></i>
            </td>
        </tr>
    </tbody>
</table>
</div>
<pagination-controls (pageChange)="p=$event"></pagination-controls>
</div>