<!-- ==============Login===================-->
<div class="limit">
  <div class="login-container">
    <div class="bb-login">
      <form [formGroup]='loginForm' class="bb-form validate-form"> <span class="bb-form-title p-b-26"> Welcome </span>
        <span class="bb-form-title p-b-48"> <i class="mdi mdi-symfony"></i> </span>
        <div class="wrap-input100 validate-input" data-validate="Valid email is: a@b.c"> <input class="input100"
            type="text" formControlName="emailLogin" name="email"> <span class="bbb-input"
            data-placeholder="Email"></span> </div>

        <div *ngIf="loginForm.controls['emailLogin'].invalid &&
                (loginForm.controls['emailLogin'].dirty || loginForm.controls['emailLogin'].touched)"
          class="alert alert-danger">
          <div *ngIf="loginForm.controls['emailLogin'].errors.email">
            Format Email invalid
          </div>
          <div *ngIf="loginForm.controls['emailLogin'].errors.required">
            Email is required
          </div>
        </div>
        <div class="wrap-input100 validate-input" data-validate="Enter password"> <span class="btn-show-pass"> <i
              class="mdi mdi-eye show_password"></i> </span> <input class="input100" formControlName="pswLogin"
            type="password" name="pass"> <span class="bbb-input" data-placeholder="Password"></span> </div>
        <div *ngIf="loginForm.controls['pswLogin'].invalid &&
                (loginForm.controls['pswLogin'].dirty || loginForm.controls['pswLogin'].touched)"
          class="alert alert-danger">
          <div *ngIf="loginForm.controls['pswLogin'].errors.required">
            password is Required
          </div>
        </div>
        <div class="login-container-form-btn">
          <div class="bb-login-form-btn">
            <div class="bb-form-bgbtn"></div> <button class="bb-form-btn" (click)='login(loginForm.value)'> Login
            </button>
          </div>
        </div>
        <span id="error"></span>
        <div class="text-center p-t-115"> <span class="txt1"> Don’t have an account? </span> <a
            [routerLink]="['/singup']" class="txt2"> Sign Up </a> </div>
      </form>
    </div>
  </div>
</div>

<!-- ============== End Login===================-->