.why-us .box p {
    color: #1d2124;
    font-size: 22px;
    margin: 0;
    padding: 15px;
}

#buttonColor{
    border-radius: 14px;
    background-color: #ffb03b;
    color: white;
    font-size: 26px;
   
}