<app-header-dashboard-admin></app-header-dashboard-admin>
<div class=" container move-tab ">
    <h1 class="centerLign">Validator Gallery Chef</h1>
    <nav class="navbar">
        <input class="form-control" type="text" name="search" [(ngModel)]="filter">
    </nav>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th (click)="sort('FirstName')">Name Dish &nbsp; <i class="fa fa-sort"></i></th>
                    <th>Adress</th>
                    <th>Photo</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="let gallery of gallerys |orderBy:key:reserve | filter:filter| paginate :{itemsPerPage:5,currentPage:p }; let i = index ">
                    <th>{{i}}</th>
                    <td>{{gallery.name}}</td>
                    <td>{{gallery.adress}}</td>
                    <td><img [src]="gallery.img" height="50px" width="50px" alt=""></td>

                    <td>
                        <i title="Remove the dish" (click)="deletGallery(gallery)" style="cursor: pointer;"
                            class="far fa-trash-alt text-danger pr-1"></i>&nbsp;
                        <ng-container *ngIf="gallery.status && gallery.status === 'NEW' ">
                            <i title="Validate the dish" (click)="validatorGallery(gallery)" style="cursor: pointer;"
                                class="far fa-check-circle text-success  pr-1 "></i>&nbsp;
                        </ng-container>
                        <ng-container *ngIf="gallery.status && gallery.status === 'NEW' ">
                            <i title="Decline & return it back to the Chef" (click)="open(mymodal,gallery)"
                                style="cursor: pointer;" class="far fa-window-close text-danger"></i>&nbsp;
                        </ng-container>

                    </td>
                </tr>
            </tbody>
            <ng-template #mymodal let-modal>
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title">Send Message To Chef</h4>
                    <button type="button" class="close buttonColor" aria-label="Close"
                        (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <textarea name="" id="" cols="10" rows="5"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark buttonColor"
                        (click)="modal.close('Save click')">Send</button>
                </div>
            </ng-template>

        </table>
        <pagination-controls (pageChange)="p=$event"></pagination-controls>
    </div>
</div>