@import '~ngx-toastr/toastr';


/* You can add global styles to this file, and also import other style files */
.buttonColor{
    background-color:#ffb03b;
    color:#fff;
     border-radius: 18px;
     font-size: 18px;
     width: 200px;
     height: 35px;
 }
 .buttonColor:hover{
     background-color:  #f3970c;
     color:#fff;
     border-radius: 18px;
     font-size: 18px;
     width: 200px;
     height: 35px;
 }
 .container-fluid .row{
     padding-left: 50px;
 }

 .menu-item img{
    border-radius: 70px;
    width: 120px;
    height: 120px;
}
.thead-primary th{
    background-color:#ffb03b ;
}
.input-group input{
    color:#e49a2a ;

}
.text-center .image-prod img{
    border-radius: 50px;
    width: 90px;
    height: 90px;
}
.total-price{
    color:#e49a2a ; 
}
.btn-primary{
    border-color:#ffb03b  ;
    background-color:#ffb03b ;
}
.btn-primary:hover{
    border-color:#ffb03b  ;
    background-color:#ffb03b ;
}
.btn-primary:hover:focus:active{
    border-color:#e0992e  ;
    background-color:#e0992e ;
}
.product-name{
    color: gray;
}
.total{
    color: gray;
}
.price{
    color: gray;
}

.ftco-section{
    font-family: "Poppins", Arial, sans-serif;
    background: #151111;
    font-size: 15px;
    line-height: 1.8;
    font-weight: 300;
    color: gray;
    background: url(assets/img/bg_4.jpg) no-repeat fixed;
    background-size: cover; }
    body.menu-show {
      overflow: hidden;
      position: fixed;
      height: 100%;
      width: 100%; }

.ftco-section .ftco-sub-title {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: .5em;
    color: #d4d4d4;
    font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 300; }
  
  .ftco-section .ftco-primary-title {
    margin-top: 0;
    margin-bottom: 30px; }
  
  .about-author .desc h3 {
    font-size: 24px; }
  
  .ftco-section {
    padding: 7em 0;
    position: relative; }
    @media (max-width: 767.98px) {
      .ftco-section {
        padding: 6em 0; } }
  
  .ftco-bg-dark {
    background: #030202; }
    .search-form .form-group {
        position: relative; }
        .search-form .form-group input {
          font-size: 14px;
          padding-right: 50px;
          background: transparent !important;
          border: none;
          border-bottom: 1px solid #c49b63;
          color: rgba(255, 255, 255, 0.7); }
          .search-form .form-group input::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: rgba(255, 255, 255, 0.7); }
          .search-form .form-group input::-moz-placeholder {
            /* Firefox 19+ */
            color: rgba(255, 255, 255, 0.7); }
          .search-form .form-group input:-ms-input-placeholder {
            /* IE 10+ */
            color: rgba(255, 255, 255, 0.7); }
          .search-form .form-group input:-moz-placeholder {
            /* Firefox 18- */
            color: rgba(255, 255, 255, 0.7); }
      
           
              

    .blog-img img{
        border-radius: 70px;
        width: 120px;
        height: 120px;
    }

    .app {
      max-width: 600px;
      width: 100%;
      margin: 0 auto;
      position: relative
  }
  
  #contactus {
      font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
      background: #F9F9F9;
      padding: 25px;
      margin: 150px 0;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24)
  }
  

  
  #contactus h3 {
      display: block;
      font-size: 30px;
      font-weight: 300;
      margin-bottom: 10px
  }
  
  #contactus h4 {
      margin: 5px 0 15px;
      display: block;
      font-size: 13px;
      font-weight: 400
  }
  
  fieldset {
      border: medium none !important;
      margin: 0 0 10px;
      min-width: 100%;
      padding: 0;
      width: 100%;
      height: 80px;
    
      
  }
  
  #contactus input[type="text"],
  #contactus input[type="email"],
  #contactus input[type="tel"],
  #contactus input[type="url"],
  #contactus textarea {
      width: 100%;
      border: 1px solid #ccc;
      background: #FFF;
      margin: 0 0 5px;
      padding: 20px;
      
     
  }
  
  #contactus input[type="text"]:hover,
  #contactus input[type="email"]:hover,
  #contactus input[type="tel"]:hover,
  #contactus input[type="url"]:hover,
  #contactus textarea:hover {
      -webkit-transition: border-color 0.3s ease-in-out;
      -moz-transition: border-color 0.3s ease-in-out;
      transition: border-color 0.3s ease-in-out;
      border: 1px solid #aaa;
   
  }
  
  #contactus textarea {
      height: 100px;
      max-width: 100%;
      resize: none
  }
  
  #contactus button[type="submit"] {
      cursor: pointer;
      width: 100%;
      border: none;
      background: #f0715f;
      color: #FFF;
      margin: 0 0 5px;
      padding: 10px;
      font-size: 15px
  }
  
  #contactus button[type="submit"]:hover {
      background: #f07150;
      -webkit-transition: background 0.3s ease-in-out;
      -moz-transition: background 0.3s ease-in-out;
      transition: background-color 0.3s ease-in-out
  }
  
  #contactus button[type="submit"]:active {
      box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5)
  }
  
  #contactus input:focus,
  #contactus textarea:focus {
      outline: 0;
      border: 1px solid #aaa
  }
  
  ::-webkit-input-placeholder {
      color: #888
  }
  
  :-moz-placeholder {
      color: #888
  }
  
  ::-moz-placeholder {
      color: #888}

      .center{
        text-align: center;
        padding-top: 30px;
        padding-bottom: 40px;
    
    }
    
    
    .padding {
        padding: 5rem !important
    }
    
    .signup-form {
        background-color: #fff;
        padding: 45px;
        border-radius: 1px
    }
    
    h2 {
        font-size: 36px;
        letter-spacing: 0.08em
    }
    
    .signup-form .form-control {
        font-size: 16px;
        padding: 10px 15px;
        color: #555;
        background-color: #fff;
        border-radius: 3px
    }
    
    .signup-form input {
        border: 1px solid #eee;
        height: 38px;
        box-shadow: none !important
    }
    
    .btn-yellow {
        background:#f89c11;
        padding: 10px 28px;
        border: 2px solid #f89c11;
        color: #fff;
        border-radius: 50px;
        font-weight: 700;
        letter-spacing: 0.08em;
        -webkit-transition: 0.5s all;
        transition: 0.5s all;
        box-shadow: 0px 0px 60px 0px #f89c11;
        outline: none !important
    }
    
    .btn-blue:hover,
    .btn-blue:focus,
    .btn-blue:active {
        background: #fff;
        color:#f89c11
    }

    .bb-login {
      margin-top: 100px;
      margin-bottom: 300px
  }
  
  input {
      outline: none;
      border: none
  }
  
  textarea {
      outline: none;
      border: none
  }
  
  textarea:focus,
  input:focus {
      border-color: transparent !important
  }
  
  input:focus::-webkit-input-placeholder {
      color: transparent
  }
  
  input:focus:-moz-placeholder {
      color: transparent
  }
  
  input:focus::-moz-placeholder {
      color: transparent
  }
  
  input:focus:-ms-input-placeholder {
      color: transparent
  }
  
  textarea:focus::-webkit-input-placeholder {
      color: transparent
  }
  
  textarea:focus:-moz-placeholder {
      color: transparent
  }
  
  textarea:focus::-moz-placeholder {
      color: transparent
  }
  
  textarea:focus:-ms-input-placeholder {
      color: transparent
  }
  
  input::-webkit-input-placeholder {
      color: #adadad
  }
  
  input:-moz-placeholder {
      color: #adadad
  }
  
  input::-moz-placeholder {
      color: #adadad
  }
  
  input:-ms-input-placeholder {
      color: #adadad
  }
  
  textarea::-webkit-input-placeholder {
      color: #adadad
  }
  
  textarea:-moz-placeholder {
      color: #adadad
  }
  
  textarea::-moz-placeholder {
      color: #adadad
  }
  
  textarea:-ms-input-placeholder {
      color: #adadad
  }
  
  button {
      outline: none !important;
      border: none;
      background: transparent
  }
  
  button:hover {
      cursor: pointer
  }
  
  iframe {
      border: none !important
  }
  
  .txt1 {
      font-family: Poppins-Regular;
      font-size: 13px;
      color: #666666;
      line-height: 1.5
  }
  
  .txt2 {
      font-family: Poppins-Regular;
      font-size: 13px;
      color: #333333;
      line-height: 1.5
  }
  
  .p-t-115 {
      padding-top: 40px
  }
  
  .p-b-48 {
      padding-bottom: 35px
  }
  
  .limit {
      width: 100%;
      margin: 0 auto
  }
  
  .login-container {
      width: 100%;
      min-height: 100vh;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 15px;
      background: #f2f2f2
  }
  
  .bb-login {
      width: 390px;
      background: #fff;
      border-radius: 0px;
      overflow: hidden;
      padding: 26px 23px 35px 21px;
      box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
      -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
      -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1)
  }
  
  .bb-form {
      width: 100%
  }
  
  .bb-form-title {
      display: block;
      font-family: Poppins-Bold;
      font-size: 30px;
      color: #333333;
      line-height: 1.2;
      text-align: center
  }
  
  .bb-form-title i {
      font-size: 60px
  }
  
  .wrap-input100 {
      width: 100%;
      position: relative;
      border-bottom: 2px solid #adadad;
      margin-bottom: 37px
  }
  
  .input100 {
      font-family: Poppins-Regular;
      font-size: 15px;
      color: #555555;
      line-height: 1.2;
      display: block;
      width: 100%;
      height: 45px;
      background: transparent;
      padding: 0 5px
  }
  
  .bbb-input {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      pointer-events: none
  }
  
  .bbb-input::before {
      content: "";
      display: block;
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 0;
      height: 2px;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      -moz-transition: all 0.4s;
      transition: all 0.4s;
      background: #6a7dfe;
      background: -webkit-linear-gradient(left, #21d4fd, #b721ff);
      background: -o-linear-gradient(left, #21d4fd, #b721ff);
      background: -moz-linear-gradient(left, #21d4fd, #b721ff);
  }
  
  .bbb-input::after {
      font-family: Poppins-Regular;
      font-size: 15px;
      color: #999999;
      line-height: 1.2;
      content: attr(data-placeholder);
      display: block;
      width: 100%;
      position: absolute;
      top: 16px;
      left: 0px;
      padding-left: 5px;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      -moz-transition: all 0.4s;
      transition: all 0.4s
  }
  
  .input100:focus+.bbb-input::after {
      top: -15px
  }
  
  .input100:focus+.bbb-input::before {
      width: 100%
  }
  
  .has-val.input100+.bbb-input::after {
      top: -15px
  }
  
  .has-val.input100+.bbb-input::before {
      width: 100%
  }
  
  .btn-show-pass {
      font-size: 15px;
      color: #999999;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      position: absolute;
      height: 100%;
      top: 0;
      right: 0;
      padding-right: 5px;
      cursor: pointer;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      -moz-transition: all 0.4s;
      transition: all 0.4s
  }
  
  .btn-show-pass:hover {
      color: #f89c11;
      color: -webkit-linear-gradient(left, #21d4fd, #b721ff);
      color: -o-linear-gradient(left, #21d4fd, #b721ff);
      color: -moz-linear-gradient(left, #21d4fd, #b721ff);
  }
  
  .btn-show-pass.active {
      color: #6a7dfe;
      color: -webkit-linear-gradient(left, #21d4fd, #b721ff);
      color: -o-linear-gradient(left, #21d4fd, #b721ff);
      color: -moz-linear-gradient(left, #21d4fd, #b721ff);
  }
  
  .login-container-form-btn {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 13px
  }
  
  .bb-login-form-btn {
      width: 100%;
      display: block;
      position: relative;
      z-index: 1;
      border-radius: 25px;
      overflow: hidden;
      margin: 0 auto
  }
  
  .bb-form-bgbtn {
      position: absolute;
      z-index: -1;
      width: 300%;
      height: 100%;
      background:  #f89c11;
      background: -webkit-linear-gradient(right, #21d4fd, #FF9800, #FFC107, #F44336);
      background: -o-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
      background: -moz-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
      top: 0;
      left: -100%;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      -moz-transition: all 0.4s;
      transition: all 0.4s
  }
  
  .bb-form-btn {
      font-family: Poppins-Medium;
      font-size: 15px;
      color: #fff;
      line-height: 1.2;
      text-transform: uppercase;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 20px;
      width: 100%;
      height: 50px
  }
  
  .bb-login-form-btn:hover .bb-form-bgbtn {
      left: 0
  }
  
  @media (max-width: 576px) {
      .bb-login {
          padding: 77px 15px 33px 15px
      }
  }
  
  .validate-input {
      position: relative
  }
  
  .alert-validate::before {
      content: attr(data-validate);
      position: absolute;
      max-width: 70%;
      background-color: #fff;
      border: 1px solid #c80000;
      border-radius: 2px;
      padding: 4px 25px 4px 10px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      right: 0px;
      pointer-events: none;
      font-family: Poppins-Regular;
      color: #c80000;
      font-size: 13px;
      line-height: 1.4;
      text-align: left;
      visibility: hidden;
      opacity: 0;
      -webkit-transition: opacity 0.4s;
      -o-transition: opacity 0.4s;
      -moz-transition: opacity 0.4s;
      transition: opacity 0.4s
  }
  
  .alert-validate::after {
      content: "\f06a";
      font-family: FontAwesome;
      font-size: 16px;
      color: #c80000;
      display: block;
      position: absolute;
      background-color: #fff;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      right: 5px
  }
  
  .alert-validate:hover:before {
      visibility: visible;
      opacity: 1
  }
  
  @media (max-width: 992px) {
      .alert-validate::before {
          visibility: visible;
          opacity: 1
      }
  }
  
  a {
      text-decoration: none !important
  }
  
  .mdi {
      color: #f2f2f2 !important
  }
  
  .show_password {
      color: black !important;
      margin-right: 8px
  }

  .card-header-tabs{
    margin-right: 350px;
}


/******** style Dashboared  ************/
/*header{
    position: relative;
    background: #22242A;
    padding: 40px;
    width: 100%;
    height: 70px;

}

.left-area h3{
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
    margin-top: -40px;


}
.left-area span{
    color: #ffb03b;

}

.logout_btn{
    padding: 5px;
    background:#ffb03b;
    text-decoration: none;
    float: right;
    margin-top: -30px;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
    transition-property: background;
}
.logout_btn:hover{
    background:#ffb03b;

}

.sidebar{
    background: #2F323A;
    margin-top: -5px;
    padding-top: 30px;
    position: relative;
    left: 0;
    width: 250px;
    height: 100%;
    transition: 0.5s;
    transition-property: left;

}
.sidebar .profile-image{
    margin-left: 80px;
    height: 100px;
    width: 100px;
    border-radius: 100px;
    margin-bottom: 10px;

}
.sidebar h4{
    margin-left: 90px;
    color: #ccc;
    margin-top: 0;
    margin-bottom: 20px;

}

.sidebar a{
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
}
.sidebar a:hover{
    background:#ffb03b;

}
.sidebar span{
    padding-left: 10px;

}

label #sidebar_btn{
    z-index: 1;
    color: #fff;
    position: relative;
    cursor: pointer;
    left: 300px;
    font-size: 20px;
    margin: 5px 0;
    transition:0.5s;
    transition-property: color;

}

label #sidebar_btn:hover{
    color:#ffb03b;

}
#check:checked ~ .sidebar{
    left: -190px;

}

#check:checked ~ .sidebar a span{
    display: none;
}

#check:checked ~ .sidebar a{
    font-size: 20px;
    margin-left: 170px;
    width: 80px;
}

.content{
    margin-left: 200px;
    
    transition: 0.5s;
}

#check:checked ~ .content{
    margin-left: 60px;

}

#check{
    display: none;
}*/




/*************gallery chef *************************/
.btn:focus, .btn:active, button:focus, button:active {
    outline: none !important;
    box-shadow: none !important;
  }
  
  #image-gallery .modal-footer{
    display: block;
  }
  
  .thumb{
    margin-top: 15px;
    margin-bottom: 15px;
  }

/**** text center******/
.centerLign{
    text-align: center;
    padding-top: 20px;
}






