  <!-- ======= Today's special Section ======= -->
  <section id="about" class="about">
    <div class="section-title">
      <h2> today's <span>special</span></h2>

    </div>
    <div class="container-fluid">

      <div class="row">

        <div class="col-lg-5 align-items-stretch video-box" style='background-image: url("assets/img/about.jpg");'>
        </div>

        <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">

          <div class="content">
            <h3> <strong> Roasted Salmon with White Wine Sauce</strong></h3>
            <h2>price <span>25DT</span></h2>
            <div >
              <button type="button" class="buttonColor" (click)='goToDish(dataDish.id)'>Reserve</button>
            </div>
         
            <p class="font-italic">
              Ingredients</p>
            <ul>
              <li><i class="bx bx-check-double"></i> 1 (1 1/2-pound) salmon fillet, skin removed.</li>
              <li><i class="bx bx-check-double"></i> salt to taste.</li>
              <li><i class="bx bx-check-double"></i>1 tablespoon unsalted butter</li>
              <li><i class="bx bx-check-double"></i>2 teaspoons all-purpose flour</li>
            </ul>
            <p class="font-italic">
              351.5 calories </p>
      

          <h3><span>Description</span></h3>

          <h5>Step 1</h5>
          <p>
            Preheat an oven to 450 degrees F (230 degrees C). Place the salmon fillet on a rimmed baking sheet, and
            season with salt.
          </p>
          <h5>Step 2</h5>
          <p>
            Bake in the preheated oven until the fish flakes easily with a fork, about 15 minutes.</p>
          <h5>Step 3</h5>
          <p>
            Meanwhile, melt the butter in a small saucepan. Whisk in the flour, cooking for 1 minute, then stir in the
            wine. Bring to a boil, then reduce heat to medium low. Simmer until the liquid is reduced by half, 8 to 10
            minutes. Stir in the chives and season with salt and pepper. Break the salmon into large chunks, and serve
            topped with the sauce. </p>
        </div>

      </div>
    </div>
    </div>

  </section><!-- End today's special Section -->