<app-header-dashoard-chef></app-header-dashoard-chef>
<div class=" container move-tab ">
    <h1 class="centerLign">Table Chef</h1>
    <nav class="navbar">
        <input class="form-control" type="text" name="search" [(ngModel)]="filter">
    </nav>
    <div class="table-responsive">
        <div *ngIf='gallerys.length == 0 ' class="alert alert-warning"> No Dishs Found</div>
        <table class="table" *ngIf='gallerys.length > 0 '>
            <thead>
                <tr>
                    <th>#</th>
                    <th (click)="sort('FirstName')">Name Restaurant &nbsp; <i class="fa fa-sort"></i></th>

                    <th>Adress</th>
                    <th>Photo</th>
                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="let gallery of gallerys |orderBy:key : reserve| filter:filter | paginate :{itemsPerPage:5,currentPage:p }; let i = index ">
                    <th>{{i}}</th>
                    <td>{{gallery.name}}</td>
                    <td>{{gallery.adress}}</td>
                    <td><img [src]="gallery.img" height="50px" width="50px" alt=""></td>
                    <td><i (click)='deletePhotoGallery(gallery)' style="cursor: pointer;"
                            class="far fa-trash-alt"></i>&nbsp;
                        <i (click)='goToPhotoGallery(gallery)' style="cursor: pointer;" class="far fa-eye"></i>&nbsp;
                        <i style="cursor: pointer;" routerLink="/update-gallery/{{gallery.id}}"
                            class="fas fa-user-edit"></i>
                    </td>
                </tr>
            </tbody>

        </table>
        <pagination-controls (pageChange)="p=$event"></pagination-controls>
    </div>
</div>